h3 {
    text-shadow: 1px 1px 5px gray;
}

.logo {
    width: 180px;
    height: 200px;
}

.traso {
    border: 1px solid black;
}

.icr {
    font-size: 50px;
    color: #1e88e5;
}

.icr:hover {
    font-size: 55px;
    text-shadow: 1px 1px 1px gray;
    transition: .2s;
    color: #2196f3;
}
.img-size{
    width: 200px;
    height: 300px;
    margin-bottom: 5px;
}
.fondo1{
    background-color: #bbdefb;
    
    background-attachment: fixed;

}
.fondo2{
    
    background-image: url("../imagenes/wallpaper.jpg");
   background-repeat: no-repeat;
   background-position: center;
   background-position-y: 200px;
   background-attachment: fixed;

}